package {{ .Package }}

import (
	{{ if ne .Debug "" }}"fmt"{{ end }}
	"github.com/urfave/cli"
)

func Cmd{{ .FuncPkg }}{{ title .Name }}(c *cli.Context) error {
	// Write your code here
	{{ if ne .Debug "" }}fmt.Println("{{ .Name }} : {{ .FuncPkg }} - {{ .Debug }}"){{ end }}
	return nil
}