overwrite: true
name: "enqueue2"
version: "0.0.1"
author: "sridhav"
vcshost: "github.com"
description: "clig description"
usage: "clig api"
flags:
      - name: "hadoop"
        type: "Bool"
commands:
  - name: "doo"
    usage: "do the doo"
    description: "no really"
    flags:
      - name: "flag"
        type: "Bool"
    commands:
      - name: "doodoo"
        usage: "do tht doodoo"
        description: "no no really"
      - name: "doodoo2"
        usage: "do the doodoo2"
        description: "no no 2 really"
      - name: "doodoo3"
        usage: "do the doodoo3"
        description: "no no 3 really"
        commands:
          - name: "doodoodoo"
            usage: "do the doodoodoo"
            description: "no no no really"
  - name: "doo2"
    usage: "do the doo2"
    description: "no 2 really"
    flags:
      - name: "flag2"
        type: "BoolT"
  - name: "doo3"
    usage: "do the doo3"
    description: "no 3 really"
    flags:
      - name: "flag3"
        type: "Bool"
      - name: "string-flag3"
        type: "String"
license:
  header: This file bleongs to clig
  copyright: Copyright © 2019 clig
  text: |
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
