package main

import (
	"fmt"
	"os"
    "{{ .VCSHost }}/{{ .Author }}/{{ .Name }}/command"
	"github.com/urfave/cli"
	{{ range .Imports }}"{{ .Name }}"
	{{ end }}
)

var GlobalFlags = []cli.Flag{
	{{ range .Flags }}cli.{{ title .Type }}Flag{
		Name:   "{{ .Name }}",
		{{ if eq .Type "string" }}Value: "{{ .Default }}", {{ end }}
		{{ if ne .Usage "" }}}Usage:  "{{ .Usage }}", {{ end }}
	},
	{{ end }}
}

var Commands = []cli.Command{
	{{ .CommandMap }}
}

func CommandNotFound(c *cli.Context, command string) {
	fmt.Fprintf(os.Stderr, "%s: '%s' is not a %s command. See '%s --help'.", c.App.Name, command, c.App.Name, c.App.Name)
	os.Exit(2)
}